* {
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
	background-image: url("../images/bats.gif");	
}

body {
  width: 800px;
  height: 724px;
  margin: 0 auto;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0 9px 18px 9px;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

header {
  /* border-bottom: 2px solid black; */
  background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
  background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
  background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
  background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
  padding: 25px 10px;
}

header img {
  float: left;
  margin-right: 10px;
}

header h2 {
  font-size: 200%;
  margin: 0;
  margin-top: 10px;
  /* color: orange; */
  /* font-style: italic; */
  /* text-shadow: 2px 2px black; */
}

header h3 {
  margin: 0;
}

main {
  padding: 20px 20px 20px 10px;
  float: left;
  width: calc(100% - 160px);
  height: calc(100% - 115px - 48px - 38px);
}

nav {
  background-color: black;
  color: white;
  /* overflow: hidden; */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
}

nav ul li {
  color: #f2f2f2;
  text-align: center;
  display: table-cell;
  position: relative;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

nav a:hover, nav a:focus {
  background-color: grey;
}

nav a.active {
  background-color: transparent;
  color: orange;
}

nav ul li ul {
  display: none;
}

nav ul li:hover ul {
  display: block;
  position: absolute;
}

nav ul li:hover ul li {
  background-color: black; 
  display: block;
}

aside {
  float: left;
  width: 160px;
  padding: 0 25px 0 15px;
}

aside ul {
  margin-top: 40px;
  list-style: none;
  padding: 0 5%;
}

aside ul li {
  margin-bottom: 4px;
  /* margin-bottom: .5em; */
  border: 2px solid black;
}

aside a {
	display: block;
	text-decoration: none;
  text-align: left;
	background-color: orange;
	padding: 5px;
}

aside a, aside a:visited {
  font-weight: bold;
  color: black;
}

aside a:hover, aside a:focus,
section a:hover, section a:focus {
  color: green;
}

section h1 {
  font-size: 144%;
}

section h1::first-letter {
  font-size: 230%;
}

section p {
  font-size: 16px;
}

section h2 {
  font-size: 144%;
  margin-bottom: 10px;
}

section h3 {
  font-size: 110%;
  margin-bottom: 10px;
}

section a, section a:visited  {
  font-weight: bold;
  color: orange;
}

section h3 + p {
  margin: 10px 0 0 0;
}

footer {
  clear: both;
  border-top: 2px solid black;
  background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
  background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
  background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
  background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
}

footer p {
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 15px;
}
